@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

#root, .App, .ant-layout{
  height: 100%;
}

/* Admin Component*/
.menu {
  text-align: right;
}
.menu-logo{
  float: left;
}
.menu .ant-typography{
  color: #fff;
}

/* Login Component */
.modal-login{
  width: 40%;
}
.modal-login .ant-modal-header{
  background: #001529;
  text-align: center;
  padding: 24px;
}
.modal-login .ant-modal-header img{
  width: 150px;
  max-width: 100%;
}
.modal-login .ant-form-item{
  margin-bottom: 0;
}

/* Banner component */
.banner {
  height:400px;
  background: url('assets/img/bg-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: left;
  display: flex;
}

.bannerText {
  padding-left: 1rem;
  color: white;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  vertical-align: middle;
  line-height: 3rem; 
}

/*Categories component*/
.categories{
  background: #fff !important;
  height: auto !important;
  padding: 0 !important;
}
.categories .ant-menu{
  padding: 0 50px;
  width: fit-content;
  margin: auto;
}

/* Featured Products Component */
.featuredProducts {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 5%;
}
.featuredProducts .ant-card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.featuredProducts img{
  height: 150px;
}
.featuredProducts .ant-card-actions > li{
  margin: 0;
}
.featuredProducts .btn-rent{
  border-radius: 0px 0px 2px 2px;
}


/* AddProduct Component */
.addProduct {  
  border-color: blue; 
}

.imagen {
  display: block;
  margin: auto;
}

.centrado {
  display: block;
  margin: auto;  
  width: 210px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #444;
}

/* List products */
.list-products .ant-list-item, .list-rents .ant-list-item{
  flex-direction: row-reverse;
}
.list-products .ant-list-item .ant-list-item-extra, .list-rents .ant-list-item .ant-list-item-extra{
  margin-left: 0;
  margin-right: 40px;  
}
.list-products .item-right{
  width: fit-content;
}
.list-products .stars-container{
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}

/* List Rents */
.list-rents .ant-list-item{
  width: fit-content;
  margin: auto;
}

/* Sidebar Filters Component */
.sideBarFilter .ant-select{
  width: 100%;
}
.sideBarFilter .ant-list{
  padding: 0px 20px;
}
.sideBarFilter .ant-list-split .ant-list-item{
  border-bottom: 0;
}
.sideBarFilter .filter-item{
  width: 100%;  
}

/* Detail Product */
.detailProduct .description{
  font-size: 16px;
}
.detailProduct .total{
  text-align: right;
  margin-top: 30px;
}
.detailProduct .ant-calendar-picker-input{
  height: 100%;
}
.detailProduct .ant-calendar-picker-input > input, .detailProduct .ant-calendar-picker-input > span{
  width: 100%;
}

/* Utlities classes */
.transparent{
  background-color: transparent !important;
}
.text-center{
  text-align: center !important;
}