@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

/* Admin Component*/
.menu {
  text-align: right;
}

/* Banner component */
.banner {
  height:400px;
  background: url('assets/img/bg-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: left;
  display: flex;
}

.bannerText {
  padding-left: 1rem;
  color: white;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  vertical-align: middle;
  line-height: 3rem; 
}

/*Categories component*/
.categories{
  background: #fff !important;
  height: auto !important;
  padding: 0 !important;
}
.categories .ant-menu{
  padding: 0 50px;
}

/* Featured Products Component */
.featuredProducts {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 5%;
}
.featuredProducts .ant-card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.featuredProducts img{
  height: 150px;
}
.featuredProducts .ant-card-actions > li{
  margin: 0;
}
.featuredProducts .btn-rent{
  border-radius: 0px 0px 2px 2px;
}

/* Sidebar Filters Component */
.sideBarFilter .ant-select{
  width: 100%;
}

/* Utlities classes */
.transparent{
  background-color: transparent !important;
}